/* .parallax1 {
    background-image: url(../images/parallax1.jpg);
    min-height: 300px;
    /* Create the parallax scrolling effect */

/* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
} */

/* .parallax2 {
    background-image: url(../images/parallax2.jpg);
    min-height: 300px; */

/* Create the parallax scrolling effect */

/* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
} */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
    ;
    /*border-radius: 10px;*/
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #e6ff02;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #000;
}

.sidenav {
    width: 280px;
}

.sidenav.nav {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 80px;
    background-image: url('../images/amongus.jpg');
    opacity: 0.8;
    background-position: 10px -250px;
    background-repeat: norepeat;
    display: inline-block;
}

.sidenav-overlay {
    background-color: rgba(0, 0, 0, 0);
    display: none;
}

.nav .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-wrapper ul>li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sidenav li>a {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    /* width: 100%; */
}

.sidenav li>a .blobby-button {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .sidenav {
        width: 240px;
    }
}

/* .waves-effect.waves-light.btn-large {
    margin-left: 8px;
}

.waves-effect.waves-light.btn-large Link {
    color: rgb(255, 255, 255);
}

.sidenav-trigger.show-on-large.right i:hover {
    color: black;
}

Link .waves-effect.waves-light.btn-large {
    margin-top: 10px;
} */

.Home-design {
    text-align: center;
    /* background-image: url("../images/img1.jpg");
    position:absolute;
    z-index:0;
    min-width: 100%;
    min-height:100%;
    background-size: cover;
    background-position: center; */
}

.Home-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-top: 0;
    padding-top: 0;
    flex-direction: column;
}

.msg-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
}

.home-msg {
    font-size: 3rem;
    /* display: inline-block; */
}

.msg-content {
    font-size: 2rem;
}

.home-contests {
    /* background-image:linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)),url(); */
    /* max-width:50%;
    float:right; */
    /* color:black; */
    /* opacity:0.7; */
    /* box-shadow: 0 0 1rem 0 rgba(0,0,0,2); */
    /* margin-left: 0px !important; */
    /* font-size: 30px; */
    /* background: rgba(230, 236, 233, 0.35);
    color: #e6ff02;
    border-top: 1px solid rgba(255, 255, 255, 0.5); */
    /* box-shadow:10px 10px 5px 5px black; */
    /* max-width: 50%; */
    /* height: 110vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(230, 236, 233, 0.212);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.667);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 5%;
    padding: 30px;
    width: fit-content;
    margin: 10px;
}

.upcoming_contest_list_div {
    display: flex;
    flex-direction: row;
}

@media (max-width:700px) {
    .upcoming_contest_list_div {
        flex-direction: column;
    }
}

.home-contests>h3 {
    margin: 0px;
    font-size: 2.2rem;
}

.home-contests>h3>ul {
    margin: 0px;
    /* padding: 20px; */
}

.home-contests>h4 {
    font-size: 1.6rem;
}

.flexbox {
    /* display: flex; */
    /* flew-wrap: wrap; */
    /* justify-content: center;*/
    align-items: center;
}

.heading {
    /* background: inherit;
    background-clip: text;
    background-color: black;
    color: rgb(171, 49, 233);
    filter: drop-shadow(.075em .075em rgb(252, 235, 5));  */
    font-family: 'Nova Round', cursive;
    font-weight: bold;
    background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 10s infinite linear;
    /* transform: translateY(-50%); */
    text-shadow: 0px 5px 10px black;
    font-size: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Heading-navbar {
    width: 100%;
    position: absolute;
    align-items: center;
}

.heading .heading-content {
    font-size: 5rem;
}

.material-icons {
    font-size: 6vw;
    color: white;
}

@media only screen and (min-width:990px) {
    .navbar-div {
        height: 20vh;
    }
    .navbar-setter {
        height: 100%;
    }
    .heading .heading-content {
        font-size: 5rem;
    }
    .navbar-setter>ul>li>a .material-icons {
        height: 5rem;
        font-size: 5rem;
    }
    .msg-div {
        margin-top: 7rem;
    }
}

@media only screen and (max-width:990px) {
    .navbar-div {
        height: 23vh;
    }
    .navbar-setter {
        height: 100%;
    }
    .heading {
        /* left: 50%; */
        /* right: 0px; */
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .heading .heading-content {
        font-size: 3.5rem;
    }
    .navbar-setter>ul>li>a .material-icons {
        height: 5rem;
        font-size: 4rem;
    }
    .Home-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* padding: 0px; */
    }
    .home-contests {
        width: 100%;
        border-radius: 3%;
        /* height: 80vh; */
        overflow: hidden;
    }
    .msg-div {
        width: 100%;
    }
}

@media only screen and (max-width:700px) {
    .navbar-div {
        height: 20vh;
    }
    .navbar-setter {
        height: 100%;
    }
    .heading .heading-content {
        font-size: 3rem;
    }
    .navbar-setter>ul>li>a .material-icons {
        height: 5rem;
        font-size: 5rem;
    }
    .Home-div {
        margin-top: 3rem;
    }
    .msg-div {
        margin-bottom: 10%;
    }
    .home-msg {
        font-size: 2.5rem;
    }
    .msg-content {
        font-size: 1.5rem;
    }
    .home-contests {
        width: 100%;
        border-radius: 3%;
        /* height: 80vh; */
        overflow: hidden;
    }
    .home-contests>h3>ul {
        margin: 0px;
        font-size: 1.8rem;
    }
    .home-contests>h4 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width:500px) {
    .navbar-div {
        height: 20vh;
    }
    .navbar-setter {
        height: 100%;
    }
    .Heading-navbar {
        right: 0;
    }
    .heading .heading-content {
        font-size: 2.5rem;
    }
    .navbar-setter>ul>li>a .material-icons {
        height: 5rem;
        font-size: 3.5rem;
    }
    .Home-div {
        margin-top: 1rem;
    }
    /* .Home-div{
        /* margin-top: 1rem; */
    /* } */
    .upcoming_contest_list_div {
        width: 100%;
    }
    .msg-div {
        margin-top: 40px;
        margin-bottom: 5%;
    }
    .home-msg {
        font-size: 2rem;
        margin-bottom: 5%;
    }
    .msg-content {
        font-size: 1.2rem;
    }
    .home-contests {
        width: 100%;
        border-radius: 3%;
        /* height: 70vh; */
        overflow: hidden;
        /* padding: 30px; */
        /* padding-bottom: 50px; */
        padding: 10px 10px 20px;
        margin: 0 0 20px;
    }
    .home-contests>h3>ul {
        margin: 0px;
        font-size: 1.5rem;
    }
    .home-contests>h4 {
        font-size: 1.2rem;
    }
}

.contest-div .wrapper {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
}

.contest-div .wrapper .new-room {
    width: 60%;
}

.contest-div .wrapper .new-room .card {
    position: relative;
    padding: 30px;
    padding-bottom: 80px;
    margin: 15% 10% 5%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.667);
    border-radius: 15px;
    background: rgba(230, 236, 233, 0.35);
    overflow: hidden;
    color: #e6ff02;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.contest-div .wrapper .new-room .card>p {
    font-size: 1.5rem;
}

.contest-div .wrapper .new-room .card .card-button {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contest-div .wrapper .new-room .card .card-button .blobby-button {
    font-size: 1.3rem;
}

.contest-div .wrapper .join-room .card {
    position: relative;
    padding: 30px;
    padding-bottom: 80px;
    margin: 15% 10% 5%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.667);
    border-radius: 15px;
    background: rgba(230, 236, 233, 0.35);
    overflow: hidden;
    color: #e6ff02;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.contest-div .wrapper .join-room {
    width: 40%;
}

.contest-div .wrapper .join-room .card .card-button {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contest-div .wrapper .join-room .card .card-button .blobby-button {
    font-size: 1.3rem;
}

/* @media only screen and ( min-width: 850px) {

} */

@media only screen and ( max-width: 850px) {
    .contest-div .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contest-div .wrapper .new-room {
        width: 80%;
    }
    .contest-div .wrapper .join-room {
        width: 50%;
    }
}

@media only screen and ( max-width: 450px) {
    .contest-div .wrapper .new-room {
        width: 100%;
    }
    .contest-div .wrapper .join-room {
        width: 80%;
    }
    .contest-div .wrapper .new-room .card {
        padding-bottom: 40px;
    }
    .contest-div .wrapper .new-room .card>h2 {
        font-size: 2.2rem;
    }
    .contest-div .wrapper .new-room .card>p {
        font-size: 1rem;
    }
    .contest-div .wrapper .new-room .card .card-button .blobby-button {
        font-size: 1rem;
    }
    .contest-div .wrapper .join-room .card {
        padding-bottom: 40px;
    }
    .contest-div .wrapper .join-room .card>h2 {
        font-size: 2.2rem;
    }
    .contest-div .wrapper .join-room .card>p {
        font-size: 1rem;
    }
    .contest-div .wrapper .join-room .card .card-button .blobby-button {
        font-size: 1rem;
    }
}

@media only screen and (max-width:350px) {
    .home-contests {
        height: auto;
        padding: 30px;
    }
}

.room-card {
    position: relative;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.room-card .card {
    position: relative;
    width: 50%;
    margin: 10%;
    padding: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.667);
    border-radius: 15px;
    background: rgba(230, 236, 233, 0.35);
    overflow: hidden;
    color: #e6ff02;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.room-card .room-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-right: 30px;
}

.room-card .room-button .blobby-button {
    font-size: 1.5rem;
}

.navbar-setter {
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.667);
    /* border-bottom: '2px solid rgba(0, 0, 0, 1)'; */
    /* height: 16vw; */
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 900px) {
    .room-card {
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .room-card .card {
        width: 70%;
    }
    .room-card .card>h2 {
        font-size: 2.5rem;
    }
    .room-card .card>h4 {
        font-size: 2rem;
    }
    .room-card .room-button {
        padding: 20px;
        margin: 1% 5% 5%;
    }
    .room-card .room-button .blobby-button {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 450px) {
    .room-card .card {
        width: 70%;
    }
    .room-card .card>h2 {
        font-size: 1.8rem;
    }
    .room-card .card>h4 {
        font-size: 1.2rem;
    }
    .room-card .room-button {
        padding: 20px;
        margin: 1% 5% 5%;
    }
    .room-card .room-button .blobby-button {
        font-size: 1rem;
    }
}

/* @media (max-width:475px)
{
    .navbar-setter{
        height: 90px;
    }
    
} */

@media (min-width:1200px) {
    .navbar-setter {
        height: 150px;
    }
}

.friend-div {
    position: relative;
    display: flex;
    width: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    margin-top: 40px;
}

.friend-div .card {
    position: relative;
    width: 35%;
    margin-top: 5rem;
    padding: 30px 30px 60px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.667);
    border-radius: 15px;
    background: rgba(230, 236, 233, 0.35);
    overflow: hidden;
    color: #e6ff02;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.friend-div .card>input {
    margin: auto;
    width: 300px;
}

.friend-div .card .friend-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Profiles-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profiles-div .card {
    /* position: relative; */
    width: 50%;
    padding: 50px;
    margin: 50px;
    height: 650px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.667);
    border-radius: 15px;
    background: rgba(230, 236, 233, 0.35);
    overflow: hidden;
    color: #e6ff02;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

@media only screen and (max-width: 900px) {
    .friend-div {
        width: 100%;
    }
    .friend-div .card {
        width: 60%;
    }
    .Profiles-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Profiles-div .card {
        width: 65%;
        height: auto;
        margin: 30px 15px 0px;
        padding: 50px;
    }
}

@media only screen and (max-width: 750px) {
    .friend-div .card {
        width: 60%;
    }
    .friend-div .card>h2 {
        font-size: 3rem;
    }
    .friend-div .card>h4 {
        font-size: 1.8rem;
    }
    .Profiles-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Profiles-div .card {
        width: 65%;
        height: auto;
        margin: 30px 15px 0px;
        padding: 50px;
    }
    .Profiles-div .card>h2 {
        font-size: 3rem;
    }
    .Profiles-div .card>h4 {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 650px) {
    .friend-div .card>input {
        width: auto;
    }
}

@media only screen and (max-width: 550px) {
    .friend-div .card {
        width: 60%;
    }
    .friend-div .card>input {
        width: auto;
    }
    .friend-div .card>h2 {
        font-size: 2rem;
    }
    .friend-div .card>h4 {
        font-size: 1.2rem;
    }
    .friend-div .card .chip {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 30px;
        width: fit-content;
        padding: 0 15px 0;
        font-size: 1rem;
    }
    .Profiles-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Profiles-div .card {
        width: 65%;
        height: auto;
        margin: 30px 15px 0px;
        padding: 50px;
    }
    .Profiles-div .card>h2 {
        font-size: 2rem;
    }
    .Profiles-div .card>h4 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 440px) {
    .friend-div .card {
        /* width: auto; */
        width: 70%;
        padding: 15px;
        margin-top: 1rem;
    }
    .friend-div .card .chip {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 30px;
        width: fit-content;
        padding: 0 15px 0;
        font-size: 1rem;
    }
    .friend-div .card .chip>span{
        font-size: 1rem;
    }
    .friend-div .card .chip>span>i {
        margin-top: 1rem;
    }
    
    .friend-div .card>h2 {
        margin: 2rem 0.5rem 1rem;
    }
    .friend-div .card>input {
        width: 180px;
    }
    .friend-div .card>ul {
        width: 180px;
    }
    .Profiles-div .card {
        width: 80%;
        padding: 20px;
    }
    .Profiles-div .card>div>a {
        width: 90%;
    }
    .Profiles-div .card>div>a .blobby-button {
        font-size: 0.8rem;
        width: 100%;
    }
    .Profiles-div .card>input {
        width: 180px;
    }
    .Profiles-div .card>div .blobby-button {
        font-size: 0.8rem;
        width: 80%;
    }
}

.compare-div {
    margin-top: 8%;
}

.compare-div .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.compare-div .content .browser-default {
    width: 150px;
    background-color: #e6ff02;
    border-color: #e6ff02;
    border-width: 3px;
    border-radius: 5px;
    color: #000;
    font-size: 1rem;
    font-family: 'Nova Round', cursive;
    font-weight: 1000;
    /* max-width: fit-content; */
}

.compare-div .content>input {
    /* max-width: fit-content; */
    width: 300px;
}

@media only screen and (max-width: 1000px) {
    .compare-div {
        margin-top: 5%;
    }
    .compare-div .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .compare-div .content .browser-default {
        width: 200px;
        /* max-width: fit-content; */
    }
    .compare-div .content>input {
        /* max-width: fit-content; */
        width: 200px;
    }
}

.OuterHeading {
    background-color: rgb(255, 255, 255) !important;
    margin: 0px;
    padding: 50px 10px 50px 10px;
    text-align: center;
}

@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.card-text {
    color: rgb(0, 119, 255);
    font-size: 40px;
    font-weight: bold;
    font-family: Bookman, URW Bookman L, serif;
}

.card {
    position: relative;
}

.row {
    align-content: center;
}

.card-title {
    text-align: left;
}

input {
    color: white !important;
}

.wave {
    position: absolute;
    width: 100%;
    bottom: -140px;
}

.wave :hover {
    fill: orange;
}

.nav-wrapper>a>img {
    position: relative;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 90%;
}

.chip {
    display: inline-block;
    height: 50px;
    font-size: 2rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 7px;
}

.blobby-button {
    overflow: hidden;
    outline: none;
    display: flex;
    color: #f3f7f4;
    background-color: transparent;
    text-align: center;
    position: relative;
    border: none;
    padding: 1em 2em;
    border-radius: 4px;
    transition: color calc(0.5s * .75);
    font-weight: 1000;
    cursor: pointer;
    align-items: center;
    letter-spacing: 2px;
    justify-content: center;
    z-index: 1;
    font-size: 16px;
    font-family: 'Nova Round', cursive;
}

.blobby-button .blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
}

.blobby-button .blob:nth-child(1) {
    left: 0;
    transition-delay: 0;
}

.blobby-button .blob:nth-child(2) {
    left: calc(120% / 4);
    transition-delay: calc((0.5s * .12) * 1);
}

.blobby-button .blob:nth-child(3) {
    left: calc(2 * (120% / 4));
    transition-delay: calc((0.5s * .12) * 2);
}

.blobby-button:hover .blob {
    transform: translateZ(0) scale(1.7);
}

.blobby-button .blob:nth-child(4) {
    left: calc(3 * (120% / 4));
    transition-delay: calc((0.5s * .12) * 3);
}

.blobby-button:before {
    width: 100%;
    left: 0;
    height: 100%;
    position: absolute;
    border: 3px solid #e6ff02;
    border-radius: 4px;
    top: 0;
    content: "";
    z-index: 1;
}

.blobby-button .blob {
    position: absolute;
    top: 3px;
    width: calc(100% / 4);
    height: 100%;
    background: #e6ff02;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.5s;
}

.blobby-button:hover {
    color: rgb(15, 15, 15);
}

.blobby-button>svg {
    display: none;
}

.blobby-button .inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.card-container:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0px 0px 0px rgba(38, 38, 38, 0.2);
    /* top: -4px;
    left: -2px; */
    /*border: 1px solid #cccccc;*/
}

.card>h2 {
    font-weight: bold;
    color: rgb(15, 15, 15);
    text-shadow: 3px 3px 2px rgba(240, 255, 0, 0.5), -3px -3px 2px rgba(245, 230, 83, 0.5)
}

.remove_user {
    cursor: pointer;
    font-size: x-large;
    margin-left: 5px;
    color: darksalmon;
}

.remove_user :hover {
    cursor: pointer !important;
    font-size: 26px !important;
    color: red !important;
}

@keyframes fadeInDown {
    from {
        transform: translatey(-20px);
    }
    to {
        transform: translatey(0);
        opacity: 1
    }
}

@keyframes fadeInLeft {
    from {
        transform: translatex(-20px);
    }
    to {
        transform: translatex(0);
        opacity: 1
    }
}

@keyframes fadeInRight {
    from {
        transform: translatex(20px);
    }
    to {
        transform: translatex(0);
        opacity: 1
    }
}

@keyframes fadeInUp {
    from {
        transform: translatey(40px);
    }
    to {
        transform: translatey(0);
        opacity: 1
    }
}


.codechefCard {
    max-width: max-content;
    min-width: 40%;
    background-color: rgba(64, 64, 64, 0.6) !important;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 2);
    margin-left: 0px !important;
    font-size: 30px;
    background: rgba(230, 236, 233, 0.35);
    color: #e6ff02;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px !important;
    margin: 20px 20px 20px 20px;
    backdrop-filter: blur(5px);
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
    opacity: 1 !important;
    /* animation: fadeInUp ;
    animation-duration: 2s; */
}

.codechefCard::before {
    background: inherit;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
}

.codechefParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    opacity: 1 !important;
    /* align-items: flex-start; */
}

.initialDetailsCard {
    animation: fadeInDown;
    animation-duration: 2s;
}

.contestRankingsCard {
    animation: fadeInRight;
    animation-duration: 2s;
}

.submissionDetailsCard {
    animation: fadeInUp;
    animation-duration: 2s;
}

.attemptedProblemsCard {
    animation: fadeInLeft;
    animation-duration: 2s;
}

/* align-items: flex-start;
} */

.landing-nav {
    /* background: rgba(230, 236, 233, 0.212); */
    background: transparent;
    /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.667); */
    /* border-top: 1px solid rgba(255, 255, 255, 0.5); */
    /* backdrop-filter: blur(5px);    */
    position: relative;
    overflow: hidden;
    height: 20vh;
}

.landing-nav .nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.landing-nav .nav-wrapper .contact {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    left: 0px;
    float: left !important;
}

/* .landing-nav .nav-wrapper .contact a{
    margin-left: 2rem;
} */

#nav-mobile {
    position: absolute;
    /* height: 100%; */
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#nav-mobile li {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.landing-container {
    position: absolute;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#carousel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(230, 236, 233, 0.212);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.667);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10%;
}

#carousel>a>img {
    border-radius: 10%;
    height: 100%;
}

.carousel .carousel-item:hover {
    pointer-events: none;
}

.carousel .indicators .indicator-item {
    background-color: rgb(245, 238, 238);
}

.carousel .indicators .indicator-item.active {
    background-color: #e6ff02;
}

.landing-container .content-card {
    position: relative;
    width: auto;
    margin: 30px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.667);
    border-radius: 15px;
    background: rgba(230, 236, 233, 0.212);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.landing-container .content-card>h2 {
    font-size: 2.5rem;
    font-family: 'Lobster Two', cursive;
}

.landing-container .content-card>h3 {
    font-size: 1.5rem;
    font-family: 'Lobster Two', cursive;
    margin-left: 10px;
}

@media only screen and (max-width: 944px) {
    nav .nav-wrapper .brand-logo {
        left: 4rem;
        position: absolute;
    }
    .landing-nav .nav-wrapper .sidenav-trigger {
        left: 83vw;
        position: absolute;
    }
}

@media only screen and (max-width: 500px) {
    .landing-nav {
        height: 16vh;
    }
    nav .nav-wrapper #nav-mobile {
        position: absolute;
        display: block;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100%;
    }
    nav .nav-wrapper #nav-mobile li {
        width: 80%;
        font-size: 0.8rem;
    }
    nav ul a {
        padding: 0px;
    }
    .landing-container .content-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}

.boil_text {
    height: 110px;
    transition: 0.5s;
    overflow: hidden;
}

.big_div {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

@media only screen and (max-width:850px) {
    .boil_text {
        display: none;
    }
}

/* .swiperCard { */

/* height: 150px; */

/* width: max-content;   */

/* font-size: 2rem; */

/* background-color: aquamarine; */

/* margin: auto; */

/* } */

.material-tooltip {
    width: 300px !important;
}

/* .signin_forgot_button_parent{

} */

@media (max-width:700px) {
    .signin_forgot_button_parent {
        flex-direction: column;
    }
}

div.compareTable table tbody tr td {
    text-align: center;
}

@media (max-width:700px) {
    .smallNavbar {
        display: none !important;
    }
}

.dropdown-content {
    width: fit-content !important;
}

.sign-in-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 1200px; */
    flex-wrap: wrap;
    z-index: 1;
}

.sign-in-container .card {
    position: relative;
    width: 600px;
    height: fit-content;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.667);
    border-radius: 15px;
    background: rgba(230, 236, 233, 0.35);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.sign-in-container .card>img {
    width: 100%;
    height: 35%;
}

.sign-in-container .card .content {
    position: relative;
    padding: 20px;
    /* text-align: center; */
    /* transition: '0.5s' */
}

.sign-in-container .card .content .signin_forgot_button_parent {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    margin-top: 2rem;
}

.sign-in-container .card .content .signin_forgot_button_parent .blobby-button {
    font-size: 1.2rem;
}

.sign-in-container .card .content .signin_forgot_button_parent>a .blobby-button {
    margin-left: 3rem;
    font-size: 1.2rem;
}

.sign-in-container .card .content .Google-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 0 10px 0 0;
}

.sign-in-container .card .content .Google-login>span {
    color: #e6ff02;
    font-family: 'Nova Round', cursive;
    font-weight: bold;
    font-size: 1.8rem;
}

.sign-in-container .card .content .new-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.sign-in-container .card .content .new-user>h5 {
    color: #e6ff02;
    font-family: 'Nova Round', cursive;
    font-weight: bold;
    font-size: 1.8rem;
}

.sign-in-container .card .content .new-user>span>a .blobby-button {
    margin-left: 1rem;
    font-size: 1.2rem;
}

@media only screen and (max-width: 500px) {
    .sign-in-container .card .content>input {
        width: 70%;
    }
    .sign-in-container .card>img {
        height: 220px;
    }
    .sign-in-container .card .content .signin_forgot_button_parent .blobby-button {
        font-size: 1rem;
    }
    .sign-in-container .card .content .signin_forgot_button_parent>a .blobby-button {
        font-size: 1rem;
        margin-left: 1rem;
    }
    .sign-in-container .card .content .Google-login>span {
        font-size: 1.4rem;
    }
    .sign-in-container .card .content .new-user {
        margin-bottom: 2rem;
    }
    .sign-in-container .card .content .new-user>h5 {
        font-size: 1.4rem;
    }
    .sign-in-container .card .content .new-user>span>a .blobby-button {
        font-size: 1rem;
    }
}

.Codeforces-div .topics-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Codeforces-div .topics-container .strong-weak-topics .div-heading {
    font-size: 2.6rem;
}

.Codeforces-div .topics-container .strong-weak-topics .div-heading .item {
    font-size: 5rem !important;
}

.strong-weak-topics {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    margin: 15rem 0 0;
    /* margin-top: 175px;
    margin-left: 15px;
    margin-right: 15px; */
    /* background-color: darkslategray;
    border: 10px black solid;
    opacity: 0.8; */
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.667);
    border-radius: 15px;
    background: rgba(230, 236, 233, 0.349);
    overflow: hidden;
    padding: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.DSA-div {
    margin: 7rem 2rem 0rem;
    padding: 20px;
}

.DSA-div .msg {
    font-size: 2.2rem;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DSA-div .content>h3 {
    font-size: 1.8rem;
}

.DSA-div .content .options {
    padding: 30px;
    /* width: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.DSA-div .content .options .select-wrapper {
    width: 350px;
}

.DSA-div .content .button-class {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 5rem;
}

.DSA-div .content .button-class .blobby-button {
    font-size: 1.1rem;
}

.DSA-div .content .performance {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.667);
    border-radius: 15px;
    background: rgba(230, 236, 233, 0.349);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.DSA-div .content .performace .questions {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.DSA-div .content .performance .questions .table-header {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 6rem;
    text-align: center;
}

td {
    text-align: center;
}

.DSA-div .content .performance .questions .table-header .col1 {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
    padding: 10px 70px;
}

.practiceCard {
    /* background-image: url('../images/cf.jpg'); */
    background-image: url('../images/cf.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.card-text {
    /* max-width:fit-content; */
    font-size: 2.3rem;
    font-family: 'Nova Round', cursive;
    color: #e6ff02;
    font-weight: bolder;
    /* margin-left: 40px; */
    /* background-color:#ffffff; */
    /* opacity: 0.6; */
    /* border: 1px solid black; */
}

.custom_row_of_table {
    /* border: 2px solid rgb(87, 85, 85); */
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 75vw;
    font-size: 1.6rem;
    border-radius: 15px;
    /* background: rgba(230, 236, 233, 0.349); */
    overflow: hidden;
    /* padding-left: 50px;
    padding-right: 50px; */
    /* display: flex;
    flex-direction: row; */
}

.cell_left {
    /* width: 70%; */
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 15px;
    padding-bottom: 15px;
    color: white;
}

.cell_right {
    /* width: 30%; */
    border-bottom: 1px solid gray;
    padding: 15px;
    padding-bottom: 15px;
}

.cfpractice-div {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.cfpractice-div .cards-container {
    border-right: 5px solid white;
    width: 70vw;
    /* margin: 0px; */
}

.cfpractice-div .cards-container .question-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    overflow: hidden;
}

.cfpractice-div .cards-container .question-cards .card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    height: 300px;
    width: 250px;
    margin: 20px;
    padding: 1rem 2rem 1rem;
    /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.667); */
    border-radius: 15px;
    background: rgba(230, 236, 233, 0.349);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

#Question:hover {
    background: rgba(41, 43, 35, 0.986);
}

.card-text .question-card-hover:hover {
    background: rgba(41, 43, 35, 0.986);
}

.cfpractice-div .cards-container .question-cards .card-text:hover {
    /* animation-name: thing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse; */
    background: rgba(41, 43, 35, 0.986);
}

/* @keyframes thing{
    from { background:rgba(230, 236, 233, 0.349)}
    to { background: rgba(41, 43, 35, 0.986);}
} */

.cfpractice-div .cards-container .question-cards .card-text .ques-title {
    font-size: 2rem;
}

.cfpractice-div .cards-container .question-cards .card-text .ques-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
    font-weight: normal;
    color: rgb(245, 238, 238);
}

.developerCard {
    background: rgba(64, 64, 64, 0.7);
    margin-right: 180px;
    margin-left: 180px;
    border-radius: 70px;
}