
.parallax1 {
    background-image: url(../images/parallax1.jpg);
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.parallax2 {
    background-image: url(../images/parallax2.jpg);
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.sidenav.nav {
    align-items: center;
    padding-top: 100px;
    background-image: url('../images/amongus.jpg');
    opacity: 0.8;
    background-position: 10px -250px;
    background-repeat: norepeat;
    display: inline-block;
}

.nav .nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-wrapper ul > li{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sidenav li>a{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* .waves-effect.waves-light.btn-large {
    margin-left: 8px;
}

.waves-effect.waves-light.btn-large Link {
    color: rgb(255, 255, 255);
}

.sidenav-trigger.show-on-large.right i:hover {
    color: black;
}

Link .waves-effect.waves-light.btn-large {
    margin-top: 10px;
} */

.Home-design {
    text-align: center;
    /* background-image: url("../images/img1.jpg");
    position:absolute;
    z-index:0;
    min-width: 100%;
    min-height:100%;
    background-size: cover;
    background-position: center; */
}

.flexbox {
    /* display: flex; */
    /* flew-wrap: wrap; */
    /* justify-content: center;*/
    align-items: center;
}

.heading {
    /* background: inherit;
    background-clip: text;
    background-color: black;
    color: rgb(171, 49, 233);
    filter: drop-shadow(.075em .075em rgb(252, 235, 5));  */
    font-family: 'Nova Round', cursive;
    font-weight: bold;
    background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 10s infinite linear;
    /* transform: translateY(-50%); */
    text-shadow: 0px 5px 10px black;
    font-size: 5rem;
}

.OuterHeading {
    background-color: rgb(255, 255, 255) !important;
    margin: 0px;
    padding: 50px 10px 50px 10px;
    text-align: center;
}

@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.card-text {
    color: rgb(0, 119, 255);
    font-size: 40px;
    font-weight: bold;
    font-family: Bookman, URW Bookman L, serif;
}

.card {
    /* height: 300px; */
    position: relative;
    /* width : 300px; */
    /* align-items: center;
    align-self: center; */
}

.row {
    /* position: relative; */
    /* align-items: center; */
    align-content: center;
}

.card-title {
    text-align: left;
}

input {
    color: white !important;
}

.wave {
    position: absolute;
    width: 100%;
    bottom: -140px;
}

.wave :hover {
    fill: orange;
}

.nav-wrapper>a>img {
    position: relative;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 90%;
}

.chip
{
    display: inline-block;
    height: 50px;
    font-size: 30px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
}
.blobby-button {
    overflow: hidden;
    outline: none;
    display: flex;
    color: #f3f7f4;
    background-color: transparent;
    text-align: center;
    position: relative;
    border: none;
    padding: 1em 2em;
    border-radius: 4px;
    transition: color calc(0.5s * .75);
    font-weight: 1000;
    cursor: pointer;
    align-items: center;
    letter-spacing: 2px;
    justify-content: center;
    z-index: 1;
    font-size: 16px;
    font-family: 'Nova Round', cursive;
}

.blobby-button .blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
}

.blobby-button .blob:nth-child(1) {
    left: 0;
    transition-delay: 0;
}

.blobby-button .blob:nth-child(2) {
    left: calc(120% / 4);
    transition-delay: calc((0.5s * .12) * 1);
}

.blobby-button .blob:nth-child(3) {
    left: calc(2 * (120% / 4));
    transition-delay: calc((0.5s * .12) * 2);
}

.blobby-button:hover .blob {
    transform: translateZ(0) scale(1.7);
}

.blobby-button .blob:nth-child(4) {
    left: calc(3 * (120% / 4));
    transition-delay: calc((0.5s * .12) * 3);
}

.blobby-button:before {
    width: 100%;
    left: 0;
    height: 100%;
    position: absolute;
    border: 3px solid #e6ff02;
    border-radius: 4px;
    top: 0;
    content: "";
    z-index: 1;
}

.blobby-button .blob {
    position: absolute;
    top: 3px;
    width: calc(100% / 4);
    height: 100%;
    background: #e6ff02;
    border-radius: 100%;
    transform: translate3d(0,150%,0) scale(1.7);
    transition: transform 0.5s;
}

.blobby-button:hover {
    color: rgb(15, 15, 15);
}

.blobby-button > svg {
    display: none;
}

.blobby-button .inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}